<meta charset="utf-8">
<td align="center" valign="top" style="height:100%;padding:40px;width:100%;font-family:Helvetica, Arial, sans-serif;line-height:160%;">
	<table border="0" cellpadding="0" cellspacing="0" id="ecxtemplateContainer" style="position: relative;border-collapse:collapse;width:600px;left:50%;margin-left:-300px;background-color:#000000;box-shadow:0px 0px 20px 0px rgba(0,0,0,0.10);">
		<tr>
            <td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif;line-height:160%;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                    <tbody>
                        <tr>
                            <td align="center" style="height:100%;font-family:Helvetica, Arial, sans-serif;line-height:160%;padding-top:40px;padding-bottom:40px;" class="ecxnuHeader">
                                <img src="https://s3.amazonaws.com/prize-plugapps/logo-email.png" style="-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;text-decoration:none;max-width:200px;width:60px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
	<tr>
		<td class="ecxbodyContent" style="font-family:Helvetica, Arial, sans-serif;line-height:160%;color:#404040;font-size:16px;padding-top:64px;padding-bottom:20px;padding-right:50px;padding-left:50px;background:#FFFFFF;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="ecxtemplateBody" style="border-collapse:collapse;background-color:#FFFFFF;">
				<tbody>
					<tr>
						<td valign="top" style="font-family:Helvetica, Arial, sans-serif;line-height:160%;padding-bottom:32px;text-align:center;">
							<h2 style="display:block;font-family:Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;text-align:center;color:#404040;font-size:20px;">Olá, <strong class="ecxhighlight" style="color:#16293A;font-weight:600;">{{user.get_full_name}}</strong>!</h2>
						</td>
					</tr>
					<tr>
						<td style="font-family:Helvetica, Arial, sans-serif;line-height:160%;padding-bottom:32px;text-align:center;">
							<p style="font-size: 14px">Você está recebendo esta mensagem porque você esqueceu sua senha de usuário.</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="font-size: 14px;width: 100%;text-align:center;line-height: 23px;">Para alterá-lo, por favor visite o seguinte link:
							</p>
						</td>
					</tr>
					<tr>
						<td align="center">
							<button href="{% block reset_link %}{{protocol}}://{{domain}}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}{% endblock %}" target="_blank" style="color:#000000">{% block reset_link %}{{protocol}}://{{domain}}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}{% endblock %}" target="_blank" style="background: #B79C74;border-radius: 4px;height: 45px;width: 100%;border: 0px;margin-top: 25px;margin-bottom: 50px;color: #FFFFFF;font-size: 14px;letter-spacing: 1px;cursor:pointer;" type="button">COMFIRMAR EMAIL</button>
						</td>
					</tr>
					<tr>
						<td>
							<p style="font-size: 14px;width: 100%;text-align:center;line-height: 23px;margin-top: 5px;">Se o botão não funcionar, use este link: <a href="{% block reset_link %}{{protocol}}://{{domain}}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}{% endblock %}" target="_blank" style="color:#000000">{% block reset_link %}{{protocol}}://{{domain}}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}{% endblock %}</a>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td class="ecxbodyContent" style="font-family:Helvetica, Arial, sans-serif;line-height:160%;color:#404040;font-size:16px;padding-top:4px;padding-bottom:20px;padding-right:50px;padding-left:50px;background:#FFFFFF;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="ecxtemplateBody" style="border-collapse:collapse;background-color:#FFFFFF;">
				<tbody>
					<tr>
						<td>
							<p style="font-size: 14px;width: 100%;text-align:center;line-height: 23px;">Se você tem duvidas, sugestões ou reclamações não deixe de entrar em contato conosco pelo nosso telefone<a href="https://www.prize.plus" target="_blank" style="color:#16293A;font-weight:600;text-decoration: none;"> (41) 3322 2423</a> ou pelo email <a href="mailto:prize@plugapps.net?Subject=Contato Email" style="color:#16293A;font-weight:600;text-decoration: none;">prize@plugapps.net</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td class="ecxfooterContent" style="font-family:Helvetica, Arial, sans-serif;line-height:160%;background:#FFFFFF;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="ecxtemplateFooter" style="border-collapse:collapse;background-color:#FFFFFF;">
				<tbody>
					<tr>
						<td style="font-family:Helvetica, Arial, sans-serif;line-height:160%;text-align:center;padding-top: 20px;">
							<hr class="ecxshortDivider" style="width:80%;color:#16293A;opacity: 0.2;">
						</td>
					</tr>
					<tr>
						<td width="80%" style="font-family:Helvetica, Arial, sans-serif;line-height:160%;padding-bottom:16px;text-align:center;">
							<hr class="ecxsectionDivider" style="width:80%;border:0;">
						</td>
					</tr>
					<tr>
						<td style="font-family:Helvetica, Arial, sans-serif;line-height:160%;padding-bottom:16px;text-align:center;">
							<hr class="ecxshortDivider" style="width:30px;">
						</td>
					</tr>
					<tr>
						<td class="ecxspaceXL" style="font-family:Helvetica, Arial, sans-serif;line-height:160%;padding-bottom:40px;text-align:center;">
							<p style="color:#999;font-size:12px;">Prize | A sorte está com você</p>
							<span class="ecxhidden" style="color:#FFFFFF;font-size:0;height:0;"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>
